<section class="project-details-section">
  <div class="container">
 @if (project$ | async; as project) {
  <p class="section-label">Project Details</p>

  <h1>{{ project.title }}</h1>

  <p class="project-status">
    Status: {{ project.status }}
  </p>

  <p class="project-summary">
    {{ project.summary }}
  </p>

  <h2>Technologies</h2>

  <div class="technology-list">
    @for (technology of project.technologies; track technology) {
      <app-technology-pill [name]="technology" />
    }
  </div>

  <app-button
    label="Back to Projects"
    variant="outline"
    size="medium"
    (clicked)="returnToProjects()"
  />
  } @else {
   <p>Loading project...</p>
 }
  </div>
</section>
